%h2 Blank Rails
%p A RUBY ON RAILS APPLICATION
%hr
%h2 How to get started ??

%ol
  %li git clone git://github.com/sandipransing/rails_blank.git
  %li bundle install
  %li rake db:create
  %li rake db:migrate
  %li rails s

%h2 What is inside ?

%ol
  %li Rails 3.1.1
  %li JQuery
  %li HAML
  %li SASS
  %li Devise Setup
  %li Twitter-Bootstrap-Sass
  %li Asset compilation while slug compiles (Heroku specific)
  %li slugignore (Heroku specific)
  %li RailsAdmin
  %li Railroady (diagram generator)
  %li Staging env added
